@page "/"
@using System.Globalization

@if (StartDate != DateTime.MinValue)
{
    <span class="col-8">Start @StartDate.ToString("dd-MM-yyyy") until @EndDate.ToString("dd-MM-yyyy") @(EndDate.Subtract(StartDate).TotalDays + 1) days selected</span>
}

<select class="form-control col-3" @bind="Culture">
    @foreach(var culture in CultureInfo.GetCultures(CultureTypes.InstalledWin32Cultures))
    {
        <option value="@culture.TwoLetterISOLanguageName">@culture.NativeName</option>
    }
</select>

<EvdCalendar Culture="@Culture" OnDateRangeSelected="DateSelected" MaximumMonthsToDisplay="6" OccupiedDateRanges="OccupiedList"></EvdCalendar>

@code {
    public DateTime StartDate { get; set; }
    public DateTime EndDate { get; set; }

    public List<DateRange> OccupiedList { get; set; } = new List<DateRange>();

    public string Culture { get; set; } = "nl";

    private void DateSelected(DateRange dateRange)
    {
        StartDate = dateRange.Start;
        EndDate = dateRange.End;
    }

    protected override void OnInitialized()
    {
        OccupiedList.Add(new DateRange(DateTime.Parse("5-6-2020"), DateTime.Parse("12-6-2020")));
        OccupiedList.Add(new DateRange(DateTime.Parse("23-7-2020"), DateTime.Parse("1-8-2020")));
    }
}